{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Random Number Facts</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">{{ fact }}</h1>
        
        <p class="lead button-container">
            <a class="btn btn-primary btn-lg" onClick="window.location.reload();" style="color: white;" role="button">Get Another Fact!</a>
        </p>
        <hr class="my-4">
        <p class="lead">Powered by <a href="http://numbersapi.com/">numpersapi.com</a></p>

    </div>

</body>

</html>